body {
  background-color: beige;
  text-align: center;
}


ul :first-child {
  font-size: 20px;
  color: red;
  border: 1px solid blue;
  
}
ul :first-child:hover {
 color: green;
}

ul :last-child {
  font-size: 10px;
  color: purple;
  border: 1px solid green
}

ul :last-child:hover {
  color: green;
 }
 
ul li:nth-child(4) {
  font-size: 30px;
  color: purple;
  border: 1px solid green
}